$bgDarker: #1e212e;
$bgDark: #252839;
$bgDarkHover: #373C55;
$bgLightHover: #e0e0ff;
$lowVolBg: #282a33;
$noDataBg: #2c2d30;
$bgLight: #DDD;
$bgLighter: #EEE;
$navTextColor: #e0e0e0;
$textColor: #C5C5C5;
$textColorDark: #677077;
$borderColor: #4f4f4f;
$redText: #de5858;
$greenText: #49c773;
$linkColor: #f2b632;

// Light theme
body {
    /* --- INLINE GRAPHS --- */
    #currencies_wrapper, #currencies-all_wrapper {
      table tbody tr {
        cursor: pointer;
        transition: height 1s;

        &:hover {
          background-color: $bgLightHover;
        }

        iframe {
          width: 100%;
          height: 680px;
          border: none;
        }

        &.detail-view td {
          padding: 0px;
          overflow: hidden;
        }

        .detail-curtain {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          text-align: center;
          background-color: $bgLight;
          font-size: 32px;
          padding-top: 100px;
        }
      }
    }


  // Responsive Table
  .DTFC_Cloned {
    td, th {
      background-color: $bgLight;
    }
  }
  .DTFC_LeftWrapper .DTFC_LeftHeadWrapper, .DTFC_LeftWrapper .DTFC_LeftBodyWrapper {
    border-color: $borderColor !important;
  }


  .favorite-star {
    color: $linkColor;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .text-large .favorite-star {
    margin-left: 8px;
    margin-bottom: 6px;
    vertical-align: middle;
  }

  .favorites-filter {
    padding-top: 11px;
    padding-left: 10px;

    label {
      font-weight: normal;

      input {
        vertical-align: top;
      }
    }
  }
}

// Dark theme
.cmce-dark body {
  color: $textColor !important;
  background-color: $bgDark !important;

  a {
    color: $linkColor !important;
  }
  
  /* --- TOP BAR --- */
  #top-nav-outer-container {
    background-color: $bgDarker !important;
    border-color: $borderColor !important;
  }

  /* --- DROPDOWNS --- */
  .dropdown-menu {
    background-color: $bgDarker !important;

    li {
      &.divider {
        background-color: $borderColor !important;
      }
      > a {
        &:hover, &:focus {
          background-color: $bgDark !important;
        }
      }
    }
  }

  /* --- MAIN TABLE --- */
  .col-lg-10 {
    #title a {
      color: $textColor !important;
    }

    .btn-primary {
      background-color: #df9c0c !important;
      border-color: #513905 !important;

      &:hover {
        background-color: #c2880a;
      }
    }

    /* --- INLINE GRAPHS --- */
    
    #currencies_wrapper, #currencies-all_wrapper {
      table tbody tr {
        cursor: pointer;
        transition: height 1s;

        &:hover {
          background-color: $bgDarkHover;
        }

        iframe {
          width: 100%;
          height: 680px;
          border: none;
        }

        &.detail-view td {
          padding: 0px;
          overflow: hidden;
        }

        .detail-curtain {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          text-align: center;
          background-color: $bgDark;
          font-size: 32px;
          padding-top: 100px;
        }
      }
    }

    /* --- MAIN NAV --- */
    #nav-main {
      background-color: $bgDarker !important;
      border-color: $borderColor !important;

      .dropdown.open .dropdown-toggle,
      .dropdown:hover .dropdown-toggle {
        background-color: $bgDark !important;
      }

      #quick-search-box {
        border-color: $borderColor !important;
        background-color: $bgDark !important;
      }

      .tt-dropdown-menu {
        background-color: $bgDarker !important;
      }
    }

    /* --- TABLE NAV --- */
    .nav.nav-tabs {
      color: $linkColor;
      border-color: $borderColor;

      .active .dropdown-toggle,
      .dropdown-toggle:hover {
        border-color: $borderColor !important;
      }

      .dropdown-open .dropdown-menu li > a {
        &:hover,&:focus {
          background-color: $bgDark !important;
        }
      }
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li > a:hover,
    .nav-tabs > li > a:focus,
    .nav-tabs > li.open > a,
    .pagination > li > a,
    .pagination > li > span {
      background-color: $bgDarker !important;
      color: $linkColor;
      border-color: $borderColor !important;
    }
    .pagination > li > a,
    .pagination > li > span {
      &:hover {
        background-color: $bgDark !important;
      }
    }

    .negative_change {
      color: $redText !important;
    }

    .positive_change {
      color: $greenText !important;
    }

    // The 7-day graphs are a bit too bright with this theme,
    // so making them just slightly transparent
    img.sparkline {
      filter: invert(0.85);
      border-color: $textColor !important;
    }

    .loading {
      background: none;
    }

    // Borders and lines
    tr, th, td, hr {
      border-color: $borderColor !important;

      &.low-volume {
        background-color: $lowVolBg;
      }

      &.no-data {
        background-color: $noDataBg;
      }
    }
  }

  // Responsive Table
  .DTFC_Cloned {
    td, th {
      background-color: $bgDark;
    }
  }
  .DTFC_LeftWrapper .DTFC_LeftHeadWrapper, .DTFC_LeftWrapper .DTFC_LeftBodyWrapper {
    border-color: $borderColor !important;
  }

  // --- Coin Page ---
  .coin-summary-item h3 {
    background-color: transparent !important;
    border-color: $borderColor !important;
  }

  .highcharts-container {
    text {
      color: $textColor !important;
      fill: $textColor !important;
    }

    .highcharts-background {
      fill: $bgDark !important;
    }

    .highcharts-button, .highcharts-legend {
      rect {
        fill: $bgDarker !important;
      }
      text {
        color: $textColor !important;
        fill: $textColor !important;
      }
    }

    .highcharts-tooltip {
      text {
        color: $textColorDark !important;
        fill: $textColorDark !important;
      }
    }
  }

  .favorite-star {
    color: $linkColor;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .text-large .favorite-star {
    margin-left: 8px;
    margin-bottom: 6px;
    vertical-align: middle;
  }

  .favorites-filter {
    padding-top: 11px;
    padding-left: 10px;

    label {
      font-weight: normal;

      input {
        vertical-align: top;
      }
    }
  }
}


// Ad removal
.GoogleActiveViewClass,
.tynt-ad-container,
.kmn-div,
#leaderboard-bottom,
#icobanner-wrapper,
#leaderboard,
#enjin-header,
body .container .col-lg-2,
#ct_70unrF,
.ct_70unrFr,
.ct_70unrFbnc {
  display: none !important;
}
.container {
  // Prevents main content from being pushed aside when ads appear
  position: static !important;
}

// Refresh Timer
.auto-refresh {
  position: fixed;
  bottom: 0px;
  right: 20px;
  background-color: $bgLighter;
  opacity: 0.2;
  color: $textColorDark;
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 3px;
  transition: opacity 0.2s;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  text-align: center;
  cursor: pointer;

  .time {
    font-weight: bold;
    display: inline-block;
    vertical-align: baseline;
  }

  .timer-label {
    width: 0px;
    display: inline-block;
    overflow: hidden;
    transition: width 0.2s;
    vertical-align: middle;
  }

  &:hover {
    opacity: 0.9;
    transition: opacity 0.2s;
    .timer-label {
      width: 75px;
      transition: width 0.2s;
    }
  }
}